<div class='container'>
  <h1>Sistema de estoque</h1>

  <h2>Inserir movimentações</h2>

  <%= form_with url: create_movimentacao_path do |form| %>
    <%= form.file_field :movimentacao_csv, accept: '.csv', required: true %>
    <%= form.submit 'Cadastrar movimentações' %>
  <% end %>

  <h2>Locais de armazenamento</h2>

  <div class='stock-container'>
    <% @armazenamento_mov.each do |armazenamento| %>
      <div class='storage-container'>
        <h2><%= armazenamento.first.nome %></h2>

        <table>
          <thead>
            <tr>
              <th>Produto</th>
              <th>Quantidade</th>
            </tr>
          </thead>
          <tbody>
            <% armazenamento.first.each do |mov| %>
              <tr>
                <td><%= mov.product.nome %></td>
                <td><%= mov.quantidade %></td>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>
    <% end %>
  </div>
</div>
